CONFIG proxy.config.http.fcgi.enabled INT 1
CONFIG proxy.config.http.fcgi.host.hostname STRING localhost
CONFIG proxy.config.http.fcgi.host.server_ip  STRING 127.0.0.1
CONFIG proxy.config.http.fcgi.host.server_port STRING 60000
CONFIG proxy.config.http.fcgi.host.include STRING etc/trafficserver/fastcgi.config
CONFIG proxy.config.http.fcgi.host.document_root STRING /var/www/
CONFIG proxy.config.http.fcgi.host.html STRING index.php
CONFIG proxy.config.http.fcgi.host.min_connections INT 2
CONFIG proxy.config.http.fcgi.host.max_connections INT 16
CONFIG proxy.config.http.fcgi.host.max_requests INT 1000
CONFIG proxy.config.http.fcgi.host.request_queue_size INT 250
