*.o
*.a
*.so
*.in
*~
*.tar.gz
*.lo
*.la

.deps

!doc/Doxyfile.in

/aclocal.m4
/autom4te.cache
/build-aux
/configure
/tags

build/aux/
build/libtool.m4
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4

Makefile
config.log
config.status
config.nice
config.h
doc/Doxyfile
doc/html/
doc/warn.log

lib/ts/ink_autoconf.h
lib/ts/ink_config.h
lib/ts/stamp-h1
lib/ts/CompileParseRules
lib/ts/ParseRulesCType
lib/ts/ParseRulesCTypeToLower
lib/ts/ParseRulesCTypeToUpper
lib/ts/mkdfa
lib/ts/test_List
lib/ts/test_arena
lib/ts/test_atomic
lib/ts/test_freelist
proxy/config/records.config
proxy/config/storage.config

proxy/mgmt2/api2/remote/traffic_api_cli_remote
proxy/mgmt2/tools/traffic_mcast_snoop
proxy/mgmt2/tools/traffic_net_config
proxy/mgmt2/tools/traffic_shmem_clean
proxy/mgmt2/tools/traffic_time_config
proxy/mgmt2/tools/traffic_vip_config
proxy/traffic_cust_log_fmt_cnvrt
proxy/traffic_logcat
proxy/traffic_logstats
proxy/traffic_sac
proxy/mgmt2/api2/remote/api_cli_remote
proxy/mgmt2/cli/traffic_line
proxy/mgmt2/cli2/traffic_shell
proxy/mgmt2/cop/traffic_cop
proxy/mgmt2/tools/mcast_snoop
proxy/mgmt2/tools/net_config
proxy/mgmt2/tools/shmem_clean
proxy/mgmt2/tools/time_config
proxy/mgmt2/tools/vip_config
proxy/mgmt2/traffic_manager
proxy/mgmt2/html2/tune/navigation_tree.xml
proxy/traffic_server

libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

rc/trafficserver
rc/update_records

proxy/api/include/ts
proxy/api/ts/ts.h
example/*/.libs
example/app-template/tsapp
example/app-template/records.config
plugins/*/.libs

tsxs

GPATH
GRTAGS
GSYMS
GTAGS
ETAGS
CTAGS
