*.o
*.a
*.so
*.pyc
Makefile.in
*~
*.tar.gz
*.lo
*.la
*.log
*.trs
.*.sw*
*.o.tmp

.deps/

.dirstamp

.project
.cproject
.idea

.diags.log.meta

/aclocal.m4
/autom4te.cache
/build-aux
/configure
/tags
/_build

build/_aux/
build/libtool.m4
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4

Makefile
Makefile-pl
config.cache
config.status
config.nice
config.h

configs/records.config.default
configs/storage.config.default

doc/_build
doc/docbuild/
doc/locale/pot
doc/xml/

MYMETA.*
pm_to_blib

src/traffic_cache_tool/traffic_cache_tool
src/traffic_cop/traffic_cop
src/traffic_crashlog/traffic_crashlog
src/traffic_ctl/traffic_ctl
src/traffic_layout/traffic_layout
src/traffic_logcat/traffic_logcat
src/traffic_logstats/traffic_logstats
src/traffic_manager/traffic_manager
src/traffic_server/traffic_server
src/traffic_top/traffic_top
src/traffic_via/traffic_via
src/traffic_wccp/traffic_wccp

include/stamp-h1
include/ink_autoconf.h
include/ink_autoconf.h.in
src/tscore/stamp-h1
src/tscore/ink_autoconf.h
src/tscore/ink_autoconf.h.in
include/tscore/ink_config.h
include/ts/apidefs.h
src/tscore/CompileParseRules
src/tscore/ParseRulesCType
src/tscore/ParseRulesCTypeToLower
src/tscore/ParseRulesCTypeToUpper
src/tscore/mkdfa
src/tscore/test_atomic
src/tscore/test_freelist
src/tscore/test_geometry
src/tscore/test_Regex
src/tscore/test_X509HostnameValidator
src/tscore/test_tscore
src/tscpp/util/test_tscpputil
lib/records/test_librecords
lib/perl/lib/Apache/TS.pm

iocore/net/test_certlookup
iocore/net/test_UDPNet
iocore/aio/test_AIO
iocore/eventsystem/test_Buffer
iocore/eventsystem/test_Event
iocore/eventsystem/test_MIOBufferWriter
iocore/hostdb/test_RefCountCache

proxy/hdrs/test_mime
proxy/hdrs/test_proxy_hdrs
proxy/hdrs/test_hdr_heap
proxy/http/test_proxy_http
proxy/http2/test_Huffmancode
proxy/http2/test_Http2DependencyTree
proxy/http2/test_HPACK
proxy/http2/hpack-tests/results
proxy/logging/test_LogUtils
proxy/logging/test_LogUtils2

plugins/header_rewrite/header_rewrite_test
plugins/experimental/cookie_remap/test_cookiejar
plugins/experimental/esi/*_test
plugins/experimental/slice/test_*
plugins/experimental/sslheaders/test_sslheaders
plugins/s3_auth/test_s3auth

plugins/esi/docnode_test
plugins/esi/gzip_test
plugins/esi/parser_test
plugins/esi/processor_test
plugins/esi/utils_test
plugins/esi/vars_test

plugins/experimental/uri_signing/test_uri_signing

mgmt/api/traffic_api_cli_remote
mgmt/tools/traffic_mcast_snoop
mgmt/tools/traffic_net_config
mgmt/tools/traffic_shmem_clean
mgmt/tools/traffic_time_config
mgmt/tools/traffic_vip_config
mgmt/api/api_cli_remote
mgmt/tools/shmem_clean
mgmt/utils/test_marshall

libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

!rc/*.*.in
rc/trafficserver
rc/update_records
rc/trafficserver.xml
rc/trafficserver.conf
rc/trafficserver.service

.libs/

.svn/
.vscode/

tsxs

blib/

GPATH
GRTAGS
GSYMS
GTAGS
ETAGS
CTAGS

tools/http_load/http_load
tools/jtest/jtest
tools/trafficserver.pc

BUILDS
DEBUG
RELEASE

# autest
tests/env-test/
tests/Pipfile.lock

iocore/cache/test_*
iocore/cache/test/var/trafficserver/cache.db
