*.o
*.a
*.in
*~

.deps

!doc/Doxyfile.in

/aclocal.m4
/autom4te.cache
/build-aux
/configure
/tags

Makefile
config.log
config.status
doc/Doxyfile
install/update_records
libinktomi++/CompileParseRules
libinktomi++/ParseRulesCType
libinktomi++/ParseRulesCTypeToLower
libinktomi++/ParseRulesCTypeToUpper
libinktomi++/mkdfa
proxy/config/records.config
proxy/cust_log_fmt_cnvrt
proxy/logcat
proxy/logstats
proxy/mgmt2/api2/remote/api_cli_remote
proxy/mgmt2/cli/traffic_line
proxy/mgmt2/cli2/traffic_shell
proxy/mgmt2/cop/traffic_cop
proxy/mgmt2/tools/mcast_snoop
proxy/mgmt2/tools/net_config
proxy/mgmt2/tools/shmem_clean
proxy/mgmt2/tools/time_config
proxy/mgmt2/tools/vip_config
proxy/mgmt2/traffic_manager
proxy/sac
proxy/traffic_server

libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

