#   Licensed to the Apache Software Foundation (ASF) under one
#   or more contributor license agreements.  See the NOTICE file
#   distributed with this work for additional information
#   regarding copyright ownership.  The ASF licenses this file
#   to you under the Apache License, Version 2.0 (the
#   "License"); you may not use this file except in compliance
#   with the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.

# Order is important. The last matching pattern has the most precedence.
# A component can have more than one owner!

# These owners will be the default owners for everything in the repo.
*                           @bryancall

# The new order "src" tree
src/tscore/*                @SolidWallOfCode
src/wccp/*                  @SolidWallOfCode
src/traffic_top/*           @bryancall
src/traffic_logstats/*      @zwoop

# The proxy tree, where all flavor of HTTP lives
proxy/http2/*               @masaori335
proxy/http3/*               @maskit @masaori335

# Various plugins
plugins/*                   @zwoop
plugins/cachekey/*          @gtenev

# Documentation
doc/*                       @SolidWallOfCode @mlibbey
