#
# cache.config
#
# The purpose of this file is to alter caching parameters of
#   specific objects or sets of objects
#
# Each line consists of a set of tag value pairs.  The pairs
#   are in the format  <tag>=<value>
# 
# Each line must include exactly one primary specifier
#
#   Primary destination specifiers are
#     dest_domain=
#     dest_host=
#     dest_ip=
#     url_regex=
#
#
# Lines may include any number of the secondary specifiers but
#    secondary specifiers may not be duplicated on the same line
#
#   Secondary specifiers are
#     port=
#     scheme=
#     prefix=
#     suffix=
#     method=
#     time=
#     src_ip=
#     tag=<tag_value>
#
#     Note: 1. method secondary specifier is NOT supported in MIXT
#           2. tag is an OPTIONAL directive which specifies a unique identifier
#           for the current record.  This is needed for MIXT, since we may want
#           to select a record that is not necessarily the first one
#           that matches.  Valid values for tag are 'RNI' and 'QT'.
#
# Each line must include exactly one cache directive
#   Cache directives are
#     action=never-cache
#     action=ignore-no-cache          (client & server no cache)
#     action=ignore-client-no-cache   (only client no cache)
#     action=ignore-server-no-cache   (only server no cache)
#     pin-in-cache=<time>
#     revalidate=<time>
#     ttl-in-cache=<time>             (force caching and expire after <time>)
#
#
# Examples
#
#  Revalidate all http objects from www.example.com after 2 hours 
#    dest_domain=www.example.com   scheme=http  revalidate=2h
