#
#
# Reverse Ftp Proxy Remapping Config File
#
# Format is:
#	<dot_format_ip_address>:<port> <dot_format_ip_address>:<port>
# or 
#	<source_hostname>:<port>	<destination_hostname>:<port> 
#
# All Ftp requests sent to the first address will be redirected by 
#	traffic server to the second address. When traffic server 
#       receives a Ftp request for the first IP address, if necessary, 
# 	e.g. a cache miss, it will open a Ftp connection to 
#	the second IP address instead of the client's request IP address.
#
# Following are some examples:
#
#	209.131.48.213:2121  		216.17.74.162:21
#	209.131.48.213:2121  		ftp.cdrom.com:21
#	proxy.company.com:2121  	216.17.73.162:21
#	proxy.company.com:2121		ftp.cdrom.com:21 
#
# If the port number is 21, it can be omitted, e.g. the last one:
#	proxy.company.com:2121		ftp.cdrom.com




