#
# 
# The purpose of this file is to specify the partitions that 
# specific hostnames or domains should be stored in.
#
# Each line consists of a set of tag value pairs.  The pairs
#   are in the format  <tag>=<value>
#
# Each line must include exactly one primary specifier
#
#   Primiary destination specifiers are
#     domain=
#     hostname=
#
#
# Available directives are:
# partition=  (comma separated list of partitions)
#  
# All requests that 
# don't belong to the list of hostnames in this file go to the 
# partitions specified with the hostname or domain name = '*'
# 
# For example: to store all inktomi objects in partition 2 
# hostname=www.inktomi.com  partition=2
# To direct all other requests to partitions 3 and 4
# hostname=*	partition=3,4
#  
