#
# ldap.config
#
#
# This config file serves two purposes:
#   a. allows the selection of ldap server for
#      specific objects or sets of objects
#
#   b. or, allows a set of user specified URLs to
#      bypass authentication.
#
# Each line consists of a set of tag value pairs.  The pairs
#   are in the format  <tag>=<value>
# 
# Each line must include exactly one primary specifier
#
#   Primiary destination specifiers are
#     dest_domain=
#     dest_host=
#     dest_ip=
#     url_regex=
#
#
# Available server directives are:
#     server=     ( required; 
#                   To use the bypass feature, the 'server' field should
#                   be set to the key word "auth_bypass". All the URLs 
#                   that match the keyword are exempted from proxy
#                   authorization.)
#     dn=         ( not required when set to 'auth_bypass'  )
#     uid_filter= ( optional; if not provided it will default to "uid" )
# 
# Each line must include a server= and dn= directives (not required for auth bypass).
#    
# Example:
# to exempt any urls to the domain "fooX.com" from having to authorize, 
#
#dest_domain=fooX.com server="auth_bypass"
#
#
