#Entry type: userNameEntry
 #Format:  userAuthSnmpID  (octetString)
 #         userName  (text)
 #         userGroupName  (text)
 #         userTransportLabel  (text)
 #         userMemoryType  (nonVolatile, permanent, readOnly)
 #         AuthKey  (octetString)
 #         PrivKey  (octetString)
#userNameEntry  localSnmpID AnneXPert HelpDesk Headquarters nonVolatile
#userNameEntry  localSnmpID BobBBookkeeper Staff StaffOffices nonVolatile
#userNameEntry  localSnmpID CharlieDChief SystemAdmin - nonVolatile
#userNameEntry  localSnmpID EarlERiser DayOperator Headquarters nonVolatile
#userNameEntry  localSnmpID Guest Guest ConferenceRoom nonVolatile
#userNameEntry  localSnmpID ShawnNShipping Staff StaffOffices nonVolatile
#userNameEntry  localSnmpID TonyaTTyper Staff StaffOffices nonVolatile
#userNameEntry  localSnmpID WyleUSleep NightOperator Headquarters nonVolatile


#Entry type: communityEntry
 #Format:  communityAuthSnmpID  (octetString)
 #         communityName  (text)
 #         communityGroupName  (text)
 #         communityContextSnmpID  (octetString)
 #         communityContextName  (text)
 #         communityTransportLabel  (text)
 #         communityMemoryType  (nonVolatile, permanent, readOnly)


