#
# Standalone NNTP Authorization Server config
#
# To use, type the command 'nntp_auth nntp_auth.config'
#
CONFIG proxy.config.bin_path STRING <bin_path>
CONFIG proxy.config.nntp.authorization_port INT 5555
# NNTP Authentication Server Config
CONFIG proxy.config.nntp.auth_server.binary STRING nntp_auth
CONFIG proxy.config.nntp.run_local_authentication_server INT 0
CONFIG proxy.config.nntp.accept_local_authentication_requests_only INT 1
# currently not supported
CONFIG proxy.config.nntp.custom_authentication_via_stdio INT 0
# in milliseconds
CONFIG proxy.config.nntp.authorization_server_timeout INT 50000
