#
# 
# This file specifies the various partitions, their sizes and the 
# protocol they belong to. Use this file in conjunction with the 
# hosting.config file.
#
#  Each line consists of a tag value pair.
#    partition=<partition_number> scheme=<protocol_type> size=<partition_size>
#
#  partition_number can be any value between 1 and 255. 
#  This limits the maximum number of partitions to 255. 
#  Partition number 0 is reserved for the special free partition. 
#  Each line MUST have a distinct partition number.
#
#  The only scheme currently supported is either 'http.
#
#  partition_size can either be specified in percentage of the total
#  cache space or absolute value. It must be a multiple of 128 Megabytes,
#  with 128 Megabytes being the smallest size possible. If specified in 
#  percentage, the size is rounded down to the closest multiple of 
#  128 Megabytes. A partition can be as big as the whole cache. 
#  Each partition is striped across several disks to 
#  achieve parallel I/O. For example, if there are 4 disks, 
#  a 1 Gigabyte partition will have 256 Megabytes on each
#  disk (assuming each disk has enough free space available).
#
# To create one partition of size 10% of the total cache space and 
# another 1 Gig  partition, 
#  partition=1 scheme=http size=10%
#  partition=2 scheme=http size=1024
