##############################
# CARP routing configuration #
##############################
# 
# This config is read by the carp plugin to define the servers which are
# participating in the cluster.
#
# The plugin requires two configuration sections (in .ini type format), each 
# formatted differently from each other:
#
# [Servers] Section contains the list of servers where client request will be forwarded
#
#    Each entry (line) in this section must conform to:
#       host[:port] [weight=#]
#
#    host - name of server (e.g. host1.abc.com)
#    port - server port to receive requests (defaults to 80 if not specified)
#    weight - weight factor to increase/decrease traffic to host.  Defaults to 1.
#
#    Note: weight factor is multiplied by calculated hash score for the server.  It
#          only makes sense to adjust these if all of your servers are not of equal
#          performance.
# 
# [Values] Section contains key-value pair items
#    
#    Settings:
#       healthcheck - port and path of healthcheck used to determine if server is
#                     available to receive requests.  Default, empty/disabled.
#       healthfreq -  number of seconds between healthcheck requests.  Smaller values 
#                     will allow servers to be taken out of rotation more quickly 
#                     (by disabling the servers healthcheck).  Default 30.
#       blacklist -   comma separated list of host names which the plugin will 
#                     NOT hash/forward.  Note: whitelist takes precedence over 
#                     blacklist.
#       whitelist -   comma separated list of host names which the plugin will 
#                     exclusively hash/forward.  Note: whitelist takes precedence 
#                     over blacklist.
#       mode -        controls which URL plugin will hash (pre or post remap).  Valid 
#                     values:
#                       pre-remap - Default mode (if mode empty or not present).
#                                   Plugin hashes client request, and forwards 
#                                   request to selected peer.
#                       post-remap - Plugin hashes post-remapped request, 'saves'
#                                   origin server destination into header 
#                                   ATS-Carp-Forward, forwards request to selected
#                                   peer.  Peer validates request came in on
#                                   'allowfwdport' port, then forwards the request.
#
#       reloadfreq -   number of seconds between config reload checks. Default 30.
#
#       hctimeout  -   number of timeout seconds for health check request. Default 5.
#
#       allowfwdport - When mode is post-remap, plugin validates request came in on
#                      the specified port.  This feature prevents the plugin from being
#                      used/abused as a forward proxy.  This port should NOT be exposed
#                      to the public.
#
# An Example Config:
#
#[Servers]
# port 4080 on host1.cacheservice.com with weight factor of 2
#host1.cacheservice.com:4080 weight=2      
# port 80 on host2.cacheservice.com with (default) weight factor of 1
#host2.cacheservice.com                    
#
#[Values]
#healthcheck=http://healthcheck.cacheservice.com:8080/status.html
#healthfreq=30
#blacklist=healthcheck.cacheservice.com,hc.cacheservice.com
#mode=pre-remap
