###########################################################################
# Test records.config
###########################################################################
# parse tests
 CONFIG  proxy.config.parse_test_0a  STRING
CONFIG proxy.config.parse_test_1a STRING
CONFIG proxy.config.parse_test_1b STRING
CONFIG proxy.config.parse_test_2a	STRING X
CONFIG proxy.config.parse_test_2b  STRING X
CONFIG	 proxy.config.parse_test_3a STRING XXX
CONFIG proxy.config.parse_test_3b STRING XXX
  CONFIG proxy.config.parse_test_4a STRING XXX XXX XXX
CONFIG proxy.config.parse_test_4b STRING XXX XXX XXX
##########################################################################
# User Overridden Configs Below
##########################################################################
CONFIG proxy.config.cb_test_1 STRING cb_test_1__original
CONFIG proxy.config.link_test_1 INT 1
CONFIG proxy.config.link_test_2 FLOAT 100.000000
CONFIG proxy.config.link_test_3 COUNTER 5
