CONFIG proxy.config.http.collapsed_connection.enabled INT 1
CONFIG proxy.config.http.collapsed_connection.required_header STRING NULL
CONFIG proxy.config.http.collapsed_connection.insert_lock_retry_time INT 10
CONFIG proxy.config.http.collapsed_connection.max_lock_retry_timeout INT 2000
CONFIG proxy.config.http.collapsed_connection.keep_pass_record_time INT 5000
