cache true
remove-accept-encoding true
compressible-content-type text/*
compressible-content-type application/x-javascript*
compressible-content-type application/javascript*
compressible-content-type application/json*
supported-algorithms zstd, br, gzip
gzip-compression-level 5
brotli-compression-level 7
brotli-lgwin 17
zstd-compression-level 10
