        # SDKtest_client configuration file
        #
		#
	# If you provide plugin for SDKtest_server, specify the name of
	# the plugin file in 'plugin' option. And put the .so file for
        # the plugin under the same directory as SDKtest_server.config
        #	(plugin = hello_world.so)

# load the psi plugin
plugin = psi_server.so

# ratio of responses with a X-Psi header and an include tag in the body
psi_ratio = 10


