###############################################################################
#
# ICP Configuration -- Defines ICP parent/sibling configuration
#
#  Each line is formatted with a separator between fields. This can be
#  a space, ':', ';', ',', or '|' but must be consistent for the
#  entire line. There must be a terminating separator as the last
#  character. The separator for the line is determined by this
#  character. Note: if you use an IPv6 address, you must *not* use
#  colon as a field separator.
#
#    - hostname (string)           -- Identifier for entry
#    - host_ip_str (string)        -- decimal dot notation
#    - ctype (int)                 -- 1=Parent, 2=Sibling
#    - proxy_port (int)            -- TCP Port #
#    - icp_port (int)              -- UDP Port #
#    - multicast_member            -- 0=No 1=Yes
#    - multicast_ip_str (string)   -- decimal dot notation for IPv4
#				      224.0.0.0 - 239.255.255.255
#				      colon notation for IPv6
#				      FF05::2
#    - multicast_ttl (int)         -- (1 - 2; default 1)
#
# <host>:<host IP>:<ctype>:<proxy port>:<icp port>:<MC on>:<mc IP>:<MC ttl>:
#
# Example #1 (1 parent and 2 siblings):
# ==============================================================
#     host1:209.1.33.10:1:8080:3130:0:0.0.0.0:1:
#     host2;209.1.33.11;2;8080;3130;0;0.0.0.0;1;
#     host3|fe80::208:54ff:fe47:d94d|2|8080|3130|0|::|1|
#
#
# Example #2 (1 parent and 1 sibling using MultiCast):
# ============================================================================
#     host1 209.1.33.10 1 8080 3130 1 239.128.16.128 1 
#     host2 209.1.33.11 2:8080:3130 1 239.128.16.128 1 
# Note: trailing space in previous lines.
#
###############################################################################
