/* override table contents wrapping */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}
/* pre inside paragraphs gets weird spacing  */
span.pre {
    line-height: initial;
}
