# Only records that will be renamed.
CONFIG proxy.config.output.logfile STRING traffic.out
CONFIG proxy.config.exec_thread.autoconfig INT 1
CONFIG proxy.config.hostdb INT 1
CONFIG proxy.config.tunnel.prewarm INT 0
CONFIG proxy.config.ssl.origin_session_cache INT 0
CONFIG proxy.config.ssl.session_cache INT 0
CONFIG proxy.config.ssl.TLSv1_3 INT 0
CONFIG proxy.config.ssl.client.TLSv1_3 INT 0
