.definefilter deny_write @method=PUT @method=DELETE @action=deny @src_ip=10.0.0.0/8
.activatefilter deny_write
map http://example.com// http://origin.example.com edge-tag @plugin=conf_remap.so @pparam=proxy.config.foo=1 @strategy=my_strategy @mapid=42 @volume=3,4 @method=GET @src_ip=192.0.2.10 @src_ip=~198.51.100.0/24 @internal
map_with_referer http://refer.example.com http://origin.example.com http://deny.example.com (.*[.])?allowed[.]com ~evil[.]example
.include remap-extra.yaml
