[Servers]
www.yahoo.com:4080 weight=2
host2.cacheservice.com  
www.yahoo2.com 4080 weight=2
www.yahoo3.com:4080 weight=
[Values]
healthcheck=http://healthcheck.cacheservice.com:8080/status.html
healthfreq=30
allowfwdport=81
blacklist=healthcheck.cacheservice.com,hc.cacheservice.com
mode=pre-remap
