# Files and stuff (this should come first)
map http://ci.trafficserver.apache.org/files http://192.168.3.17
map http://ci.trafficserver.apache.org/icons http://192.168.3.17/icons

map https://ci.trafficserver.apache.org/files http://192.168.3.17
map https://ci.trafficserver.apache.org/icons http://192.168.3.17/icons

# Wiki
map https://wiki.rax.boot.org/confluence https://cwiki.apache.org/confluence

map https://wiki.rax.boot.org \
    https://cwiki.apache.org/confluence/display/TS/Apache+Traffic+Server

reverse_map https://cwiki.apache.org/confluence/display/TS/Apache+Traffic+Server \
            https://wiki.rax.boot.org

map https://wiki.trafficserver.apache.org \
    https://cwiki.apache.org/confluence/display/TS/Apache+Traffic+Server

#reverse_map https://cwiki.apache.org/confluence/display/TS/Apache+Traffic+Server \
#            https://wiki.trafficserver.apache.org

# Jenkins
redirect http://ci.trafficserver.apache.org https://ci.trafficserver.apache.org

map https://ci.trafficserver.apache.org http://192.168.3.17:6969
reverse_map http://192.168.3.17:6969 https://ci.trafficserver.apache.org

# Read-the-docs
#map http://docs.trafficserver.apache.org \
#    http://trafficserver.readthedocs.org/en/latest/reference/configuration/records.yaml.en.html
redirect http://docs.trafficserver.apache.org https://docs.trafficserver.apache.org

map https://docs.trafficserver.apache.org/__RTD http://192.168.3.17/RTD

map https://docs.trafficserver.apache.org/records.config \
    https://trafficserver.readthedocs.org/en/latest/reference/configuration/records.yaml.en.html \
    @plugin=conf_remap.so @pparam=records.config.pristine

map https://docs.trafficserver.apache.org https://trafficserver.readthedocs.org \
    @plugin=conf_remap.so @pparam=records.config.pristine
reverse_map https://trafficserver.readthedocs.org https://docs.trafficserver.apache.org
