redirect http://ci.trafficserver.apache.org https://ci.trafficserver.apache.org
map https://ci.trafficserver.apache.org http://127.0.0.1:8080
reverse_map http://127.0.0.1:8080 https://ci.trafficserver.apache.org
map http://jenkins.boot.org http://127.0.0.1:8080
#
map http://ats.boot.org http://127.0.0.1:82
map https://ats.boot.org http://127.0.0.1:82
reverse_map http://127.0.0.1:82 http://ats.boot.org

#
map http://docs.trafficserver.apache.org http://trafficserver.readthedocs.org @plugin=conf_remap.so @pparam=/usr/local/etc/trafficserver/records.config.pristine
reverse_map http://trafficserver.readthedocs.org http://docs.trafficserver.apache.org
