# Full ssl_multicert.config with all options
# This exercises all supported configuration keys
ssl_cert_name=server.pem ssl_key_name=server.key dest_ip=* ssl_ticket_enabled=1 ssl_ticket_number=3
ssl_cert_name=ecdsa.pem,rsa.pem ssl_key_name=ecdsa.key,rsa.key dest_ip=10.0.0.1:443 ssl_ca_name=ca.pem ssl_ocsp_name=ocsp.der
ssl_cert_name=encrypted.pem ssl_key_dialog="exec:/usr/bin/getpass foo"
dest_ip=192.168.1.1 action=tunnel
ssl_cert_name=wildcard.pem dest_fqdn=*.example.com ssl_ticket_enabled=0
