        # SDKtest_client configuration file
        # 
	#
	        # 
        # Set the target_host and target_port for the proxy server.
        # Comment out these lines to connect directly to a web server
        # or a transparent proxy.
        #
#target_host = my_proxy
#target_port = 8080
        #
        # Set the client machine name(s), separated by spaces.  
        #	("clients = c1 c2 c3")
        # 'localhost' can be specified as a host name.  A machine
        # can be listed more than once to start multiple processes.
        #
clients = localhost 
client_program = SDKtest_client
        #
        # Set the reverse_proxy to hostname:80 for the reverse proxy.
        # Use a full adress for the hostname. 
        # Comment out this line to connect to a regular proxy server (forward
        # proxy), a transparent proxy, or directly to a web server,
        # including synthetic web servers.  
        #
#reverse_proxy = my_hostname.my_company.com:80
        #
        # Set the origin_servers to hostname:port for the synthetic web 
        # servers.  For simple tests, 'localhost' can be used for the 
        # hostname to start the server on the client machine.  For 
        # large-scale tests, multiple origin servers can be used by 
        # separating names with spaces:
        #	("origin_servers = s1:port s2:port s3:port")
        # 
origin_servers = localhost:8080
        # 
        # Set origin_autostart to the path for the SDKtest_server 
        # executable.  Comment out this line if you don't want the 
        # synthetic server automatically started
        #
origin_autostart = synth_server/SDKtest_server
        #
        # Set the test time and interval between incremental reports 
        # (both in seconds).
        #
execution_interval = 100
reporting_interval = 10
        #
        # Set the number of synthetic users per client machine to simulate.
        # (For large numbers of users, system networking parameters may 
        #  need to be adjusted.)
        #
users = 100
        #
        # Set the target cache hitrate percentage, the number of hot 
        # documents, and the total number of virtual documents.  
hitrate = 100
hotset = 100
docset = 1000000000
        #
        # Set warmup to 1 to specify that a separate run should be done to 
        # warm up the cache with the hotset.  (If the value is greater than
        # one, e.g., 'warmup = 3', warmup will be executed that many times.)
        #
warmup = 0
        #
        # Specify the files containing the document size, byte rate, and 
        # think time distributions.  Each line of a distribution file 
        # contains a value followed by a probability of selecting that value.
        # (The probabilities must sum to exactly 1.)
        #
        # The document sizes are specified in bytes.  
        # Byte rates are specified in bytes per second and control the 
        # maximum rate that a simulated user can receive documents.  
        # A byterate value of -1 indicates an unlimited byterate
        # Thinktimes are specified in milliseconds and specify the 
        # time that users "think" after receiving a document before 
        # requesting another document.
        #
docsize_dist_file = docsize.real
byterate_dist_file = byterate.fast
thinktime_dist_file = thinktime.0
        #
        # Set keepalive to the number of requests made on each connection 
        # before closing the connection.  A value of 1 means that 
        # keepalive isn't being used.  A value of 4 is typical of some 
        # browsers.  (Note that round-trip time histograms aren't well-defined
        # for keepalive > 1.)
        #
keepalive = 1
        #
        # Set the maximum value and bin resolution (both in seconds) for 
        # histograms of connect time, first-byte latency, and transaction 
        # time.  For example, if histogram_max is 30 and histogram_resolution
        # is 0.5, then for each of the 3 metrics, there will be 60 buckets 
        # holding the number of timings in each half-second interval up to 
        # 30 seconds.
        #
histogram_max = 30
histogram_resolution = 0.5
        #
        # Cutoffs for counting transaction times above these limits (in msec).
        #
connect_cutoff    =  500
first_byte_cutoff = 1000
round_trip_cutoff = 2000
        #
        # Determine what remote shell to use if we run SDKtest on 
        # multiple machines
        #
remote_shell = rsh
        #
        # Setting the debug flag to 1 generates a large volume of 
        # debugging messages.
        #
debug = 0 
        #
	# Setting the ssl flag to 1 causes each client connection to 
        # the proxy to be an ssl connection
        #
ssl = 0 
        #
	# If you provide plugin for SDKtest_client, specify the name of
	# the plugin file in 'plugin' option. And put the .so file for
        # the plugin under the same directory as SDKtest_client.config
        #	(plugin = hello_world.so)
#plugin = hello_world.so
