Operators
---------
rm-header Header matcher
add-header Header value
set-header Header value

set-status value
set-status-reason value


Conditions
-----------
%{TRUE}  # Default condition if none specified
%{FALSE}
%{HEADER:string}
%{YCOOKIE:id}
%{METHOD}
%{PROTOCOL}
%{PORT}
%{HOST}
%{TOHOST}
%{FROMHOST}
%{PATH}
%{PARAMS}
%{QUERY}
%{STATUS}

# These can only be used as the first condition of a new ruleset,
# and have no run-time evaluation effects (only config parse time).
%{READ_RESPONSE_HDR_HOOK} # Default
%{READ_REQUEST_HDR_HOOK}


Operator Flags
--------------
L    # Last rule (stop evaluations)


Cond Flags
----------
NC   # Not case sensitive condition (when applicable)
NOT  # Negate the cond
OR   # Local OR between conds
AND  # Logical AND betwen conds


Matcher
--------

/string/  # regular expression
<string   # lexically lower
>string   # lexically greater
=string   # lexically equal

(The absense of a "matcher" means value exists).


Values
------

Any of the cond definitions, that extracts a value from the request
$N 0 <= N <= 9, as grouped in a regular expression
string (which can contain the above)
null


Examples
--------

cond %{HEADER:X-Y-Foobar}
cond %{METHOD} =GET [OR]
cond %{METHOD} =POST
set-header X-Y-Fiefum %{HEADER:X-Y-Foobar}
rm-header X-Y-Foobar
rm-header Set-Cookie

cond %{HEADER:X-Y-Foobar} "Some string" [AND,NC]
